/******************************************************************************
* Style sheet for the Navigation Bar
******************************************************************************/

.navigation_bar ul li{
    float: right;
    list-style: none;
}

.navigation_bar a{
    padding-bottom: 5px;
}

.navigation_bar{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
    top: 0;
    background-color: black;
}

.active{
    background-color: cornflowerblue;
    color: black;
    border-bottom: 3px solid cornflowerblue;
}

.navigation_bar a:hover:not(.active){
    color: coral;
    border-bottom: 3px solid coral;
    
}
.navigation_bar a {
    display: flex;
    flex-flow: row wrap;
    color:white;
    text-align: center;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
}

/*A few simple mobile settings for the navigation bar*/
@media screen and (max-width: 767px){
    .navigation_bar{
        flex-direction: column;
        width: 100%;
    }
    
    .navigation_bar a{
        text-align: center;
        display: block;
    }

}



