/******************************************************************************
* Style sheet for the project page.
******************************************************************************/

.project p {
    text-align: left;
}

.project_page h3{
    text-align: center;
}

.project_page{
    background: white;
    max-width: 100%;
}
.project_header {
    background-color:white;
    border-bottom: 2px solid grey;
}

.project{
    font-size: 16px;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 0px 170px 0px 170px;
}

.proj_column {
    padding: 20px 20px 20px 0px;
    flex: 50%;
    display: flex;
    flex-direction: wrap;
    flex-basis: auto;
    flex: 1; 
    border-bottom: solid grey;    
}

.proj_info  {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
}


.proj_img {
 /*  display: flex;*/
    width: auto;
    height: auto;
    flex-basis: 100%;
    object-fit: fill;
    display: block;
  
}
.proj_img img:hover {
    opacity: .5;
}

.proj_img img {
    transition:.5s ease;
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: fill;
}

.project_header h1 {
    text-align: center;
}

.proj_info .button{
    font-size: 16px;
    margin: 20px;
    padding: 20px 40px;
    border: none;
    max-width: 100px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}

.proj_info .button:hover{
    cursor: pointer;
    background-color: cornflowerblue; 
    color: white;
}

/*Mobile settings*/
@media screen and (max-width: 767px){
    .project {
        padding: 15px;
    }

    .proj_column {
        display: block;
        flex: 50%;
        border: none;
    }

    .proj_img {
        width: auto;
        height: auto;
    }

    .project{
        border-bottom: solid;
    }
}