/******************************************************************************
* Style sheet for the project page.
******************************************************************************/

.project p {
    text-align: left;
}

.project_page h3{
    text-align: center;
}
.project_page{
    background: white;
    max-width: 100%;
}
.project_header {
    background-color:white;
    border-bottom: 2px solid black;
}

.project{
    border-bottom: solid;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 0px 130px 0px 130px;
}

.proj_column {
    padding: 50px 50px 50px 0px;
    flex: 50%;
    display: flex;
    flex-direction: wrap;
    flex-basis: auto;
    flex: 1;
    
}

.proj_info  {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
}

.proj_img {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
   
}

.proj_img img {
    max-height: auto;
    max-width: 100%;
    object-fit: cover;
}

.project_header h1 {
    text-align: center;
}