/******************************************************************************
* Style sheet for the App in general.
******************************************************************************/

.App-header {
  background-color: white;
  min-height: 100vh;
  
  align-items: center;
  justify-content: top;
  /*font-size: calc(10px + 2vmin); */
  color: black;

}

body{
  max-width: 100%;
  overflow-x: auto;
  clear: both;
}
